{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h3>Payment History</h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">FullName</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment ID</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in payments %}
          <tr>
            <td>{{payment.date_paid}}</td>
            <td>{{payment.student.first_name}} {{ payment.student.last_name }}</td>
            <td>{{payment.amount}}</td>
            <td>{{payment.Payment_id}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}